.highlight-blue {
  color: #fff;
  background-color: #00c7c7;
  padding: 50px 0;
}

.highlight-blue p {
  color: #2c393f;
  line-height: 1.5;
}

.highlight-blue h2 {
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-blue .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-blue .buttons {
  text-align: center;
}

.highlight-blue .buttons .btn:hover {
  opacity: 1;
}

